@media (min-width: 1900px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1900px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  body {
    gap: 2.4rem;
  }

  .main {
    width: 65vw;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 740px) {
  html {
    font-size: 40%;
  }
  .cards__section {
    max-width: 100rem;
    max-height: 70rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 35%;
  }
  body {
    gap: 1.2rem;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 25%;
  }
  body {
    padding: 2.4rem;
    flex-direction: column;
  }

  .cards__section {
    max-width: 100%;
  }
  .card__face {
    font-size: 2rem !important;
  }
  .main {
    margin: 0;
    order: -1;
    width: 80vw;
    margin: 0 auto;
    margin-top: 7rem;
    max-height: 60%;
  }
  .side {
    order: 1;
    width: 50vw;
    height: fit-content;
  }
}
